@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}

.mainCointainerApp {
}

.dropDownMenu {
  position: absolute;
  top: 96px;
  right: -12px;
  background-color: white;
  cursor: pointer;
}
.dropDownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropDownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.link {
  display: flex;
  min-width: 130px;
  max-width: 150px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  
}

.link:hover {
  background-color: #36190d;
  color: white;
}

.link:hover .sign-out-icon {
  fill: white;
  transition: fill 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .dropDownMenu {
    top: 52.5px;
  }
}
